
      * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
 
 
.container {
  display: flex;
  height: 100vh;
  z-index: 5;
}
.container__open .menu {
  display: block;
}
.container__open .toggle__span:nth-child(1) {
  top: 18px;
  transform: rotate(45deg);
}
.container__open .toggle__span:nth-child(2) {
  background-color: transparent;
}
.container__open .toggle__span:nth-child(3) {
  top: 18px;
  transform: rotate(-45deg);
}
.container__open .flex-box:nth-child(2) {
  flex: 0 0 0;
}
.flex-box {
  background-color: #34495e;
  flex: 0 1 50%;
  transition: 0.5s all ease-in-out;
  position: relative;
  z-index: 15;
}
.flex-box:nth-child(2) {
  flex: 1 0 100%;
  background-image: url(background.png);
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}
.container:hover.flex-box:nth-child(2) {
  flex: 0 0 0;
}
.menu {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0%;
  height: 100vh;
  color: #fff;
  transform: translateY(-100%);
  background-color: transparent;
  animation: 0.4s slideDown 0.25s forwards;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}
.menu__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
@media only screen and (max-width: 880px) {
  .menu__list {
    flex-direction: column;
  }
}
.menu__item {
  font-weight: 400;
  font-size: 40px;
  padding: 10px 10px;
  margin: 0 1rem;
  text-align: center;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}
.menu__item:hover {
  background-position: 99%;
  color: #004d40;
}
@media only screen and (max-width: 1250px) {
  .menu__item {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1000px) {
  .menu__item {
    font-size: 28px;
  }
}
.hover-box {
  background-color: #fff;
  color: green;
  display: none;
  animation: 0.6s fadeIn ease-in-out;
  position: absolute;
  color: #004d40;
  top: 100%;
  width: 100%;
  left: 0;
  border-top: 4px solid #34495e;
  backface-visibility: none;
}
.hover-box__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.hover-box__item {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  padding: 6px 12px;
  border-bottom: 2px solid #34495e;
  transition: 0.2s background;
  box-sizing: border-box;
  backface-visibility: none;
}
.hover-box__item:hover {
  background-color: #a5d6a7;
}
@media only screen and (max-width: 880px) {
  .hover-box {
    display: block;
    position: relative;
    width: auto;
    border-top: 2px solid #fff;
  }
  .hover-box__list {
    flex-direction: row;
  }
}
.toggle {
  cursor: pointer;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 10000;
  width: 40px;
  height: 40px;
}
.toggle__span {
  height: 3px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  transition: 0.4s;
}
.toggle__span:nth-child(1) {
  top: 10px;
}
.toggle__span:nth-child(2) {
  top: 19px;
}
.toggle__span:nth-child(3) {
  top: 28px;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

     