*{
    magrin:0;
    padding:0;
}

body {
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: #240229;
}

.loader {

    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #240229;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.4), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}
.loader:before{
    content: '';
    position: absolute;
    top:25px;
    bottom:25px;
    left:25px;
    right:25px;
    background: #240229;
    border-radius: 50%;
    border: 2px solid #240229;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2), inset 3px 3px 3px rgba(0, 0, 0, 0.5);
}
span{
    position: absolute;
    width:100%;
    height:100%;
    background:linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    z-index:-1;
    filter: blur(20px);
    animation:anim 0.4s linear infinite;
}
@keyframes anim{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

